<div class="cbi-section">
    <div class="cbi-section-descr">
        <h4><%:使用说明%></h4>
        <ul>
            <li><%:在"绑定IP"栏添加内网设备的IP地址%></li>
            <li><%:每个IP只能绑定到一个客户端%></li>
            <li><%:未绑定的IP将无法访问外网%></li>
            <li><%:当客户端离线时，绑定的设备也无法上网%></li>
        </ul>

        <h4><%:IP格式%></h4>
        <ul>
            <li><%:单个IP: 192.168.1.100%></li>
            <li><%:支持DHCP分配的IP，建议在DHCP中设置静态绑定%></li>
        </ul>

        <h4><%:注意事项%></h4>
        <ul>
            <li><%:修改绑定后需要点击"保存&应用"生效%></li>
            <li><%:更改会立即影响设备的网络访问%></li>
        </ul>
    </div>
</div>
